$navy-palette:  (
    50 : #e5e7ed,
    100 : #bec2d2,
    200 : #939ab4,
    300 : #687196,
    400 : #475280,
    500 : #273469,
    600 : #232f61,
    700 : #1d2756,
    800 : #17214c,
    900 : #0e153b,
    A100 : #7587ff,
    A200 : #425bff,
    A400 : #0f2fff,
    A700 : #0020f5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$poog-palette: (
    50 : #f3eeff,
    100 : #e1d5ff,
    200 : #cdbaff,
    300 : #b99eff,
    400 : #aa89ff,
    500 : #9b74ff,
    600 : #936cff,
    700 : #8961ff,
    800 : #7f57ff,
    900 : #6d44ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #efebff,
    A700 : #dbd2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$org-palette: (
    50 : #ffeee9,
    100 : #ffd4c8,
    200 : #ffb7a3,
    300 : #ff9a7e,
    400 : #ff8563,
    500 : #ff6f47,
    600 : #ff6740,
    700 : #ff5c37,
    800 : #ff522f,
    900 : #ff4020,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd5cf,
    A700 : #ffbfb6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bry-palette: (
    50 : #ffeeee,
    100 : #ffd4d4,
    200 : #ffb7b7,
    300 : #ff9a9a,
    400 : #ff8585,
    500 : #ff6f6f,
    600 : #ff6767,
    700 : #ff5c5c,
    800 : #ff5252,
    900 : #ff4040,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe8e8,
    A700 : #ffcfcf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);